<footer class="d-flex flex-wrap justify-content-center my-4 border-top fixed-bottom">
    <div class="d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-body-secondary">[ <%= year  %> ] \t { Ezequiel Augusto
            Stanganelli }</span>
    </div>
    <ul class="nav list-unstyled d-flex">
        <li class="ms-3">
            <a class="text-body-secondary" href="https://github.com/eastanganelli">
                <img height="30" alt="GitHub Logomark" class="height-auto"
                    src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">
            </a>
        </li>
    </ul>
  </footer>
</body>
</html>